<nav class="bottom-nav">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item" title="Go to Home">
        <i data-feather="home"></i>
        <span>Home</span>
    </a>
    <a routerLink="/notifications" routerLinkActive="active" class="nav-item" title="Go to Notifications">
        <i data-feather="bell"></i>
        <span>Notifications</span>
    </a>
    <a routerLink="/inbox" routerLinkActive="active" class="nav-item" title="Go to Inbox">
        <i data-feather="inbox"></i>
        <span>Inbox</span>
    </a>
        <a *ngIf="isLeasingConsultant" routerLink="/reminders" routerLinkActive="active" class="nav-item" title="Create a new Reminder">
        <i data-feather="calendar"></i>
        <span>Create Reminder</span>
    </a>
    <a *ngIf="isResident" routerLink="/reminders-list" routerLinkActive="active" class="nav-item" title="View Reminders">
        <i data-feather="calendar"></i>
        <span>Reminders</span>
    </a>
        <!-- Link for Leasing Consultants to create broadcasts -->
    <a *ngIf="isLeasingConsultant" routerLink="/broadcast" routerLinkActive="active" class="nav-item" title="Create Broadcast">
        <i data-feather="radio"></i>
        <span>Create Broadcast</span>
    </a>
    <!-- Link for Residents to view broadcasts -->
    <a *ngIf="isResident" routerLink="/broadcasts" routerLinkActive="active" class="nav-item" title="View Broadcasts">
        <div class="icon-wrapper">
            <i data-feather="radio"></i>
            <span class="badge" *ngIf="(unreadBroadcastCount$ | async) > 0">{{ unreadBroadcastCount$ | async }}</span>
        </div>
        <span>Broadcasts</span>
    </a>
    <a *ngIf="isLeasingConsultant" routerLink="/follow-ups" routerLinkActive="active" class="nav-item" title="Send a Follow-up">
        <i data-feather="check-square"></i>
        <span>Send Follow-up</span>
    </a>
    <a routerLink="/settings" routerLinkActive="active" class="nav-item" title="Go to Settings">
        <i data-feather="settings"></i>
        <span>Settings</span>
    </a>
</nav>
