<app-header [title]="'Reminders'"></app-header>

<main class="main-content">
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <div *ngIf="(reminders$ | async) as reminders; else loading" class="notification-container">
    <ul *ngIf="reminders.length > 0; else noReminders" class="notification-list-redesigned">
      <li *ngFor="let reminder of reminders" class="notification-item-redesigned" [class.unread]="!reminder.isRead" (click)="showReminder(reminder)">
        <div class="notification-icon reminder" [style.backgroundColor]="reminder.color">
          <span>{{ reminder.initials }}</span>
        </div>
        <div class="notification-details">
          <p>{{ reminder.content }}</p>
          <small>From: {{ reminder.sentBy }}</small>
        </div>
        <div class="notification-time">
          <span>{{ reminder.displayDate }}</span>
          <span>{{ reminder.displayTime }}</span>
        </div>
      </li>
    </ul>
    <ng-template #noReminders>
      <div class="empty-state">
        <app-feather-icon icon="calendar" class="empty-state-icon"></app-feather-icon>
        <h2>No Reminders</h2>
        <p>You have no reminders in your inbox.</p>
      </div>
    </ng-template>
  </div>

  <ng-template #loading>
    <div class="loading-indicator">Loading...</div>
  </ng-template>
</main>

<app-footer></app-footer>
