<header class="header">
    <div class="status-bar">
        <div class="status-left">
            <span class="time">{{ currentTime }}</span>
            <i data-feather="map-pin"></i>
        </div>
        <div class="camera-hole"></div>
        <div class="status-right">
            <i data-feather="signal"></i>
            <i data-feather="bluetooth"></i>
            <i data-feather="wifi"></i>
            <span>100%</span>
            <i data-feather="battery-charging"></i>
        </div>
    </div>
    <div class="main-header">
        <div class="header-title-container">
            <h1>{{ title }}</h1>
            <div class="header-role" *ngIf="userRole">{{ userRole }}</div>
        </div>
        <div class="profile-container">
            <div class="profile-pic" [style.backgroundColor]="profileColor" (click)="toggleProfileMenu()">{{ userInitials }}</div>
            <div class="profile-menu" *ngIf="isProfileMenuVisible">
                <div class="profile-menu-header">
                    <div class="profile-info">
                        <div class="profile-name">{{ userFullName }}</div>
                        <div class="profile-role">{{ userRole }}</div>
                    </div>
                </div>
                <hr class="menu-divider">
                <a (click)="logout()" class="logout-link">
                    <i data-feather="log-out"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
</header>
