<app-header [title]="'Inbox'"></app-header>

<main class="main-content">
    <div class="card">
        <ul *ngIf="messages.length > 0; else noMessages" class="notification-list">
            <li *ngFor="let message of messages" class="notification-item" [class.unread]="message.isRead === false" [title]="'View message from ' + message.from">
                <i data-feather="mail"></i>
                <div class="notification-content">
                    <strong>{{ message.from }}</strong>
                    <p>{{ message.subject }}</p>
                    <small>{{ message.time }}</small>
                </div>
            </li>
        </ul>
        <ng-template #noMessages>
            <div class="empty-state">
                <app-feather-icon icon="inbox" class="empty-state-icon"></app-feather-icon>
                <h2>No Messages</h2>
                <p>Your inbox is currently empty.</p>
            </div>
        </ng-template>
    </div>
</main>

<app-footer></app-footer>
