<app-header [title]="'Broadcasts'"></app-header>

<main class="main-content">
  <div class="broadcast-container">
    <div *ngIf="(broadcasts$ | async) as broadcasts" class="notification-container">
      <ul *ngIf="broadcasts.length > 0; else noBroadcasts" class="notification-list-redesigned">
                <li *ngFor="let broadcast of broadcasts" class="notification-item-redesigned" [class.unread]="!broadcast.isRead" (click)="showPopover(broadcast)">
          <div class="notification-icon broadcast" [style.backgroundColor]="broadcast.color">
            <span>{{ broadcast.initials }}</span>
          </div>
          <div class="notification-details">
            <p>{{ broadcast.subject }}</p>
            <small>From: {{ broadcast.fullName }}</small>
          </div>
          <div class="notification-time">
            <span>{{ broadcast.displayDate }}</span>
            <span>{{ broadcast.displayTime }}</span>
          </div>
        </li>
      </ul>
      <ng-template #noBroadcasts>
        <div class="empty-state">
          <app-feather-icon icon="radio" class="empty-state-icon"></app-feather-icon>
          <h2>No Broadcasts</h2>
          <p>There are currently no broadcast messages to display.</p>
        </div>
      </ng-template>
    </div>
  </div>
</main>

<app-footer></app-footer>
